body {
    margin: 0;
}
.navbar-default{
    background: #4a9de9;
    margin: 0;
}
.navbar-brand {
    font-size: 3em;
    color: white!important;
}

.left-side {
    border: 2px solid lightgray;
    padding: 0;
}
.btn-default {
    width: 100%;
        text-align: left;
    font-size: 18px;
    border-left: 4px solid #1f273a;
    padding: 15px;
}
.dropdown-menu {
    width: 100%;
    text-align: left;
}
.main-page {
     border: 2px solid lightgray;
    font-size: 2em;
    color: gray;  
    box-shadow: 9px 6px 27px 2px rgba(168, 168, 168, 0.6) inset;
}
.personal>.col-md {
    bottom: 0;
}
.fast-way {
    border-bottom: 2px solid lightgray;
    font-size: 1.5em;
    color: gray;
}
.admin-inform {
    margin: 15px;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.icons {
    font-size:  55px;
    height: auto;
    text-align: center;
}
.text-icons{
    text-align: justify;
    float: right;
}
.users {
    text-align: justify;
}
h3 {
    color: gray;
}
.personal {
    margin-top: 30px;
}
.personal p {
    color: gray;
    font-size: 17px;
}

.js{
    position:fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
    z-index:10;
    display:none;
}
.mdl1{
    z-index: 22;
    color: darkgreen;
    width: 310px;
    height: 188px;
    background: white;
    border: 1px solid gray;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -75px;
    display: none;
    text-align: center;
}
.close:hover {
	cursor: pointer;
}
input:not([type="checkbox"]).yes, input:not([type="checkbox"]).no{
    width: 20px;
}
input:not([type="checkbox"]).yes , input:not([type="checkbox"]).no {
    padding: 15px!important;
    color: white;
    position: relative;
    top: 20px;
    text-decoration: none;
}
form.search-users, form.search-contract {
    margin-bottom: 20px;
}
.yes{
    background: green;
}
.no {
    background: red;
}
.users-list {
    margin-top: 30px;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: auto;
}

.users-accept  {
    border: 2px solid lightgray;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    height: auto;
    padding-top: 10px;
}

.search-users>input:not([type="checkbox"]),
.search-contract >input:not([type="checkbox"]){
    
    width: 210px;
    font-size: 14px;
    padding: 10px 5px 10px 16px;
    margin-left: 14px;
}
input#find, input#find-excel,
input#find-show,
input#find--show-excel {
    width: 100px;
    font-size: 14px;
    text-align: center;
}
input[type="file"]#file_upload{
    
    border:none;
    box-shadow: none;
    
}
input[type="radio"]#sp1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: none;
    border: 1px solid gray;
    background: lavender;
    -webkit-appearance: radio;
    float: right;
    
}
input:not([type="checkbox"])#namegroup,
     input:not([type="checkbox"])#createNewGroup {
         width: 99%;
    
}
input:not([type="checkbox"]).contract-button-show {
    width: 226px;
    text-align: center;
    font-size: 12px;
    padding: 12px 5px 10px 0px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 9px -11px 20px -1px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline: none;
}

     input:not([type="checkbox"]) {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 0px;
    border: 1px solid rgb(178, 178, 178);
   -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 4px 5px 41px 4px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
textarea {
        box-shadow: 4px 5px 41px 4px rgba(168, 168, 168, 0.6) inset;
        width: 93%;
}
 select {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 0px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
     margin-bottom: 15px;
         box-shadow: 4px 5px 41px 4px rgba(168, 168, 168, 0.6) inset;
}
.users-list span {
    font-weight: bold;
}
.users-list {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 5px 41px 4px rgba(168, 168, 168, 0.6) inset;
}
.glyphicon-record {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 50%
}
.red{
	background: red;
       color:red;

}
.green{
	background: green;
    color:green;

}
.black{
	background: black;
    color:black;

}
.correct-tools{
        padding: 0px;
     border-left: 1px solid lightgray;
    text-align: center;
}
.center-block>p, .user-data>p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.center-block>i{
    text-align: center;
}
.link-main-page {
    margin: 15px;
}
#correct-users {
    margin-top: 15px;
}
.check-inform {
    background: #4a9de9;
    box-shadow: inset 0 0 1em gray, 0 0 1em black!important;
    font-size: 18px;
    font-weight: bold;
    color: white;
        border-radius: 3px;
}
ul.navbar-right a.admin-exit {
    color: white;
}
.label-for-input {
    width:100%;
}
.icon-img {
    margin-top: 30px;
}
.user-data {
    padding-top: 20px;
}
.tools {
    display: inline-block;
    text-align: center;
    position: relative;
    right: 0;
    
}

.before-page {
    font-size: 14px;
    padding: 10px 5px 10px 16px;
    
}
.uname, .umail, .uphone, .uid, .ulogin {
    display: inline-block;
}
.uid {
    width: 5%;
}
.ulogin, .umail, .uphone {
    width: 20%;
}
.uname {
    width: 33%;
}

a.tools-add, 
a.tools-cancel, 
a.tools-block, 
a.tools-correct, 
a.tools-status {
    margin-left: 20px;

}a.tools-add:hover, 
a.tools-cancel:hover, 
a.tools-block:hover, 
a.tools-correct:hover, 
a.tools-status:hover {
    cursor: pointer;
}
.new-group label {
    color: gray;
    font-size: 18px;
}
.new-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    float: right;
}

.modalwin { 
                height: 200px;  
                width: 300px;
                border: 3px outset gray; 
                background: white;
                top: 20%; /* отступ сверху */
                right: 0;
                left: 0;
                font-size: 14px; 
                margin: 0 auto;
                z-index:2; /* поверх всех */
                display: none;  /* сначала невидим */
                position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
                padding: 15px;
                border: 1px solid #383838;
            }
            #shadow { 
                position: fixed;
                width:100%;
                height:100%;
                z-index:1; /* поверх всех  кроме окна*/
                background:#000;
                opacity: 0.5; /*прозрачность*/
                left:0;
                top:0;
            }

.modal-ok {
    
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid gray;
    padding: 15px;
    position: relative;
    bottom: -120px;
}
.modal-ok:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#test {
    text-align: center;
    margin-top: 20px;
}


.new-icon, .new-icon-text {
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.new-icon   {
    max-width: 20%;
}
.new-icon-text {
    max-width: 82%;
}
.center-icon {
    text-align: center;
}
.icons-request {
    font-size: 44px;
}
.test1 {
    width: 45%;
    height: auto;
    display: inline-block;}
th {
    width: 20%;
}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}
th, td, tr {
    padding: 5px;
    text-align: left; 
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
}
.watch-tools{
    display: inline-block;
}
/*form.search-users {
    float: left;
    display: inline-block;
}*/
/* Сортировка*/
button#sort-by-date,
button#sort-by-implementer,
button#sort-by-customer {
  background: inherit;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0px 0px 1px 9px;
  position: relative;
     outline: none;
}
.down-arrow {
    font-size: 10px;
    position: relative;
    top: 10px;
    left: -16px;

}
.up-arrow {
    font-size: 10px;
    position: relative;
    top: -13px;
    z-index: 2;
}
.main-contract {
    margin-left: -15px;
}

/*button#sort-by-date:before,
button#sort-by-date:after,
button#sort-by-implementer:before,
button#sort-by-implementer:after,
button#sort-by-customer:before,
button#sort-by-customer:after {
  border-style: solid;
  border-width: 8px 5px;
  border-color: transparent;
  content: '';
  height: 0;
  position: absolute;
    right: 10px;
  width: 0;
}

button#sort-by-date:before,
button#sort-by-implementer:before,
button#sort-by-customer:before{
  border-bottom-color: #ccc;
  top: 0;
}

button#sort-by-date:after,
button#sort-by-implementer:after,
button#sort-by-customer:after {
  border-top-color: #ccc;
  bottom: 0;
}

.asc:before {
  border-bottom-color: #777;
}

.desc:after {
  border-top-color: #777;
}*/
.sorts {
    text-align: right;
    display: inline-block;
}

.sorts a {
    font-size: 14px;
    text-decoration: none;
    color: gray;
}
.sorts-by{
    text-align: right;
}
.sort-title {
    font-size: 18px;
}
/*Конец сортировки*/

@media (max-width: 360px){
.tools {
    padding-left: 0px!important;
}
        .tools>p {
    font-weight: bold;
        font-size: 8px!important;
}
}
@media (max-width: 490px){
.tools {
    padding-left: 30px!important;
}
}
@media(max-width: 768px){
    .main-page {
    margin-left: -15px;
    }
    
    .new-icon {
    max-width: 100%;
}
}
@media(min-width: 1571px) and (max-width: 1700px){

   .icons {
    font-size: 54px;
    height: auto;
    text-align: center;
}
}


@media(max-width: 1570px){
    .btn-default {
    font-size: 11px;
    
}
    .fa-eye {
            margin-right: 11px;
    }
   .icons {
    font-size: 54px;
    height: auto;
    text-align: center;
}
    .before-page {
        font-size: 10px;
        padding: 5px 15px;
    }
    
    .watch-tools {
        padding: 0;
    }
    .test1 {
    width: 100%;
    }
    
    .new-icon-text {
    max-width: 100%;
}
    
    .users-list span{
        font-size: 10px;
    }
    .navbar-brand {
    font-size: 2em;
}
    .tools>p {
    font-weight: bold;
        font-size: 10px;
}
    .users-accept {
        margin-top: 25px;
}

    .tools {
    padding-left: 0px;
}
    
    .search-users>input:not([type="checkbox"]){
    
    width: 52%;
    font-size: 14px;
    padding: 10px 5px 10px 16px;
    margin-left: 14px;
}
    input#find, input#find-excel,
input#find-show,
input#find--show-excel{
    width: 22%;
    font-size: 14px;
}
    a.tools-add, 
a.tools-cancel, 
a.tools-block, 
a.tools-correct, 
a.tools-status {
    margin-left: 10px;

}
    
    .uname, .umail, .uphone, .uid, .ulogin {
    display: block;
}
    
    .tools {
        display: inline-block;
        padding-left: 60px;

}
    .sorts-by {
        text-align: left;
        margin-left: 10px;
}
    .sort-title {
        font-size: 21px;
        font-weight: bold;
        text-align: left;
        margin-left: 16px;
    }
    input:not([type="checkbox"]).contract-button-show {
        width: 53%;
        text-align: center;
        font-size: 9px;
        padding: 16px 6px 10px 6px;
        margin-left: 14px;
    
}
    .sorts {
    font-size: 10px;
    }
    
    .down-arrow {
    font-size: 10px;
    position: relative;
    top: 10px;
    left: -12px;
}
    .up-arrow {
    font-size: 10px;
    position: relative;
    top: -8px;
    z-index: 2;
}
}